* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
/*Accessibility talks about good contrast for visualy impaired I had changed the color on this but that would be more of a deisnger/company decision so to add some contrast I gave the highlighted SEO an outline to help give it some contrast */

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    max-height: 800px !important;
    /* added important to override the img max height 200px that keeps the rest of the images to size  */
    width: 100%;
    margin-bottom: 25px;
    /* background-image: url("../images/digital-marketing-meeting.jpg"); */
    /* took the image out of css to add an alt tag and make it a img class  */
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand, .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}
/* for clarity purposes I left all 3 classes so people looking at the html knew what sections they were in but they all include the same styling so listed them in this way so there weren't 3 sperate classes typed out with the same componets   */

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* for clarity purposes I left all 3 classes so people looking at the html knew what sections they were in but they all include the same styling so listed them in this way so there weren't 3 sperate classes typed out with the same componets   */

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* for clarity purposes I left all 3 classes so people looking at the html knew what sections they were in but they all include the same styling so listed them in this way so there weren't 3 sperate classes typed out with the same componets   */

img{
    max-height: 200px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

.footer h4{
    font-size: 20px;
}
/* made h4 to follow header flow down the page for accessibility */